.vscode
component
constraint
coreconsole
designer
firmware
simulation
smartgen
stimulus
synthesis
tooldata
viewdraw
SoftConsole/MSS_controller_MSS_CM3_0/MSS_controller_MSS_CM3_0_app/Debug
SoftConsole/MSS_controller_MSS_CM3_0/.metadata